<ul class="nav nav-sidebar file-tree-root">
    <li ng-repeat="item in fileNavigator.history" ng-include="'folder-branch-item'" ng-class="{'active': item.id == fileNavigator.activeId}"></li>
</ul>

<script type="text/ng-template" id="folder-branch-item">
    <a href="" ng-click="fileNavigator.folderClick(item)" class="animated fast fadeInDown">
        <i class="glyphicon glyphicon-folder-close mr2" ng-show="!fileNavigator.itemsById[item.id].opened"></i>
        <i class="glyphicon glyphicon-folder-open mr2" ng-show="fileNavigator.itemsById[item.id].opened"></i>
        {{ (item.model.name.split('/').pop() || '/') | strLimit : 24 }}<!--item.model.id=={{item.model.id}}-->
    </a>
    <ul class="nav nav-sidebar">
        <li ng-repeat="item in item.nodes" ng-include="'folder-branch-item'" ng-class="{'active': item.id == fileNavigator.activeId}"></li>
    </ul>
</script><br/><br/><br/>root={{fileNavigator.root}}<br/>
fileNavigator.activeId=<br/>{{fileNavigator.activeId}}<br/>
